@use "bulma";

@import "mobile.scss";
@import "carousel.scss";

// Navbar

.brand-logo {
  font-size: 1.2rem;
  color: #80F;
}

.navbar-dropdown, 
.navbar-link {
  font-size: 1.1rem;
}

.navbar-item {
  color: hsl(0, 0%, 48%);

  &:hover {
    color: hsl(0, 0%, 21%);
  }
}

// Search

.search-bar .search-form {
  display: flex;
  gap: 1rem;
  max-width: 56rem;
}

// Modals

.image-modal {
  display: none;
}

.image.is-4by3:hover, 
.carousel-item:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

// Inputs/Texts

.notification {
  color: white;
}

textarea {
  resize: none;
  overflow-y: auto scroll; 

  input {
    height: auto;
  }
}

#error_explanation {
  color: red;
}

// Cards

.listing {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5rem;

   .card {
      flex: 1 1 calc(15% - 10px);
      max-width: calc(33.33% - 10px);
      margin: 10px;
      width: 20%;
    }
}

.column {
  padding: 0 !important;
}