- if policy(:user).owner?
  .card-footer
    .card-footer-item
      = link_to t('website.button.to_edit'), edit_apartment_path(apartment.id), class: "button is-info is-light"
    
    .card-footer-item
      = button_to t('website.button.to_cancel'), apartment_path(apartment.id), method: :delete, class: "button is-danger", form: { data: { turbo_confirm: t('website.message.data_confirm') } }