- if policy(:apartment).search? || policy(:user).public?

  = render "layouts/search_apartment" 

- elsif policy(:user).owner? 
  = link_to(new_apartment_path, class: "button has-background-link-light m-5 is-rounded") do
    %i.fa-solid.fa-plus
= render "apartments/listing"
